@media screen and (min-width: 400px) {

    @keyframes apparition-gauche {
        0% {
            left: -50%;
        }

        100% {
            left: 15%;
        }
    }

    @keyframes apparition-droite {
        0% {
            right: -50%;
        }

        100% {
            right: 15%;
        }
    }

    /* style du body */

    body {
        margin: 0%;
        padding: 0%;
        font-family: 'Roboto', sans-serif;
        background-color: #DAFFEF;
        overflow: hidden;
    }

    a:hover {
        color: #69f;
    }

    .center {
        text-align: center;
    }

    .noMargin {
        margin: 0;
    }

    .pt-5 {
        padding-top: 5vh;
    }

    .bg-blue {
        background-color: deepskyblue;
    }

    /* style du footer */

    footer {
        background-color: black;
        position: absolute;
        bottom: 0px;
        height: 15vh;
        width: 100vw;
        z-index: 886;
    }

    /* style des cards */
    .card {
        background-color: white;
        border-radius: 2px;
        max-width: 350px;
        max-height: 350px;
        position: absolute;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    }

    .card:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    .suivant {
        position: absolute;
        right: 5px;
        border-radius: 7px;
        color: white;
    }

    #card1 {
        top: 30%;
        left: 15%;
        animation: apparition-gauche 4s;
    }

    #card2 {
        top: 30%;
        right: 15%;
        animation: apparition-droite 4s;
    }
}

@media screen and (max-width: 400px) {
    
    @keyframes apparition-gauche {
        0% {
            left: -50%;
        }

        100% {
            left: 10%;
        }
    }

    @keyframes apparition-droite {
        0% {
            right: -50%;
        }

        100% {
            right: 10%;
        }
    }
    
    /* style du body */

    body {
        margin: 0%;
        padding: 0%;
        font-family: 'Roboto', sans-serif;
        background-color: #DAFFEF;
    }
    
    h1 {
        font-size: 15px;
    }

    a:hover {
        color: #69f;
    }

    .center {
        text-align: center;
    }

    .noMargin {
        margin: 0;
    }

    .pt-5 {
        padding-top: 5vh;
    }

    .bg-blue {
        background-color: deepskyblue;
    }

    /* style du footer */

    footer {
        background-color: black;
        position: absolute;
        bottom: 0px;
        height: 15vh;
        width: 100vw;
        z-index: 886;
    }

    .card {
        background-color: white;
        border-radius: 2px;
        max-width: 300px;
        max-height: 300px;
        position: absolute;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    }

    .card:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    #card1 {
        top: 28%;
        left: 10%;
        animation: apparition-gauche 4s;
    }

    #card2 {
        bottom: 28%;
        right: 10%;
        animation: apparition-droite 4s;
    }
