@media screen and (min-width: 700px) {

    @keyframes apparition-gauche {
        0% {
            left: -50%;
        }

        100% {
            left: 15%;
        }
    }

    @keyframes apparition-droite {
        0% {
            right: -50%;
        }

        100% {
            right: 15%;
        }
    }

    /* style du body */

    body {
        margin: 0%;
        padding: 0%;
        font-family: 'Roboto', sans-serif;
        background-color: #DAFFEF;
        overflow: hidden;
    }

    a:hover {
        color: #69f;
    }

    .center {
        text-align: center;
    }

    .noMargin {
        margin: 0;
    }

    .pt-5 {
        padding-top: 5vh;
    }
    
    .pb-5 {
        padding-bottom: 5vh;
    }

    .bg-blue {
        background-color: deepskyblue;
    }

    /* style du footer */

    .footer {
        background-color: black;
        position: absolute;
        bottom: 0;
        height: 22vh;
        width: 100vw;
        z-index: 886;
        color: white;
        text-align: center;
        
    }
    
    .footer2 {
        display: flex;
        flex-direction: column;
    }
    
    .footer2 > span {
        font-weight: bold;
    }
    
    .sociaux {
        position: absolute;
        right: 10px;
        bottom: 50%;
    }
    
    .sociaux > a {
        color: white;
    }
    
    .tirets {
        display: block;
        height: 2px;
        margin-bottom: 3px;
        width: 70px;
        background-color: white;
        transition-timing-function: linear;
        transition-duration: 1s;
        margin-left: auto;
        margin-right: auto;
    }
    
    .footer2 > a {
        color: white;
        text-decoration: none;
        padding-top: 0.5vh;
    }
    
    .footer2 > a:hover {
        color: #69f;
    }
    

    /* style des cards */
    .card {
        background-color: white;
        border-radius: 2px;
        max-width: 350px;
        max-height: 350px;
        min-width: 350px;
        min-height: 130px;
        position: absolute;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    }

    .card:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    
    .card-footer > span {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .suivant {
        position: absolute;
        right: 5px;
        border-radius: 7px;
        color: white;
        bottom: 0;
    }

    #card1 {
        top: 30%;
        left: 15%;
        animation: apparition-gauche 4s;
    }

    #card2 {
        top: 30%;
        right: 15%;
        animation: apparition-droite 4s;
    }
}

@media screen and (max-width: 700px) {
    
    #navId {
        position: fixed;
    }
    
    /* style du body */

    body {
        margin: 0%;
        padding: 0%;
        font-family: 'Roboto', sans-serif;
        background-color: #DAFFEF;
    }
    
    h1 {
        font-size: 15px;
    }

    a:hover {
        color: #69f;
    }

    .center {
        text-align: center;
    }

    .noMargin {
        margin: 0;
    }

    .pt-5 {
        padding-top: 5vh;
    }
    
    .pb-5 {
        padding-bottom: 5vh;
    }

    .bg-blue {
        background-color: deepskyblue;
    }

    /* style du footer */

    .footer {
        background-color: black;
        position: absolute;
        bottom: 0;
        height: 15vh;
        width: 100vw;
        z-index: 886;
    }

    .card {
        background-color: white;
        border-radius: 2px;
        max-width: 280px;
        max-height: 280px;
        min-height: 130px;
        position: absolute;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    }

    .card:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    #card1 {
        top: 28%;
        left: 10%;
        animation: apparition-gauche 4s;
    }

    #card2 {
        bottom: 28%;
        right: 10%;
        animation: apparition-droite 4s;
    }
